<form [formGroup]="formulario">
    <input type="text" class="form-control" placeholder="Nome" formControlName="nome">
    <input type="number" class="form-control" placeholder="Idade" formControlName="idade">
    <input type="text" class="form-control" placeholder="Cidade" formControlName="cidade">

    <button class="btn btn-primary">Cadastrar</button>
    <button class="btn btn-outline-primary">Alterar</button>
    <button class="btn btn-outline-primary">Remover</button>
    <button class="btn btn-danger">Cancelar</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Cidade</th>
            <th>Selecionar</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>