<form>
    <input type="number" class="form-control" readonly>
    <input type="text" class="form-control" placeholder="Nome">
    <input type="number" class="form-control" placeholder="Valor">

    <button type="button" class="btn btn-primary">
        Cadastrar
    </button>
    <button type="button" class="btn btn-outline-primary">
        Alterar
    </button>
    <button type="button" class="btn btn-outline-primary">
        Remover
    </button>
    <button type="button" class="btn btn-danger">
        Cancelar
    </button>
</form>

<!-- TABELA -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Valor</th>
            <th>Selecionar</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>