<form [formGroup]="form">
    <input type="text" class="form-control" readonly formControlName="id">
    <input type="text" class="form-control" placeholder="Nome" formControlName="name">
    <input type="number" class="form-control" placeholder="Valor" formControlName="value">

    
    @if (registration) {
        <button type="button" class="btn btn-primary btn-forms" (click)="handleInsert()" [disabled]="form.invalid">
            Cadastrar
        </button>
    } @else {
        <button type="button" class="btn btn-primary btn-forms" (click)="handleUpdate()">
            Alterar
        </button>
        <button type="button" class="btn btn-outline-primary btn-forms" (click)="handleRemove()">
            Remover
        </button>
    }
</form>

<!-- TABELA -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Valor</th>
            <th>Selecionar</th>
        </tr>
    </thead>

    <tbody>
        @for (product of products; track $index) {
            <tr>
                <td>{{ $index }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.value }}</td>
                <td>
                    <button 
                        class="btn btn-primary" 
                        (click)="handleSelectProduct($index)"
                    >
                        Selecionar
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>