<!-- <app-componente01></app-componente01> Interpolation -->
<!-- <app-componente02></app-componente02> Event Binding-->
<!-- <app-componente03></app-componente03> Property Binding -->
<!-- <app-componente04></app-componente04> NgIf -->
<!-- <app-componente05></app-componente05> NgFor -->
<!-- <app-componente06></app-componente06> NgSwitch -->
<!-- <app-componente07></app-componente07> NgStyle e NgClass -->
<!-- <app-componente08></app-componente08> Control Flow -->
<!-- <app-componente09></app-componente09> FormsModule -->
<!-- <app-componente10></app-componente10> Reactive Forms -->
<!-- <app-componente11></app-componente11> Finalização da primeira parte -->
<!-- <app-componente12></app-componente12> Pipes -->
<app-componente13></app-componente13> 